<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="about"  ng-controller="aboutController as ctrl">
    <div class="container" >
        <div class="thumbnail">
        <p style="font-size: 20px;font-style: italic;" class="center">
            Prague is the capital and largest city in the Czech Republic, the 14th largest city in
            the European Union and also the historical capital of Bohemia. Situated in the north-west of
            the country on the Vltava River, the city is home to about 1.3 million people, while its larger
            urban zone is estimated to have a population of 2.6 million. The city has a temperate climate,
            with warm summers and chilly winters.
            Prague has been a political, cultural and economic centre of central Europe complete with a
            rich history. Founded during the Romanesque and flourishing by
            the Gothic, Renaissance and Baroque eras, Prague was the capital of the kingdom of
            Bohemia and the main residence of several Holy Roman Emperors, most notably of Charles
            IV (r. 1346–1378). It was an important city to the Habsburg Monarchy and its Austro-
            Hungarian Empire. The city played major roles in the Bohemian and Protestant Reformation,
            the Thirty Years&#39; War and in 20th-century history as the capital of Czechoslovakia, during
            both World Wars and the post-war Communist era.
        </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" >
                <div class="thumbnail">
                    <img height="200" width="200" src="https://r.bstatic.com/images/hotel/max1024x768/429/42921582.jpg">
                </div>
            </div>
            <div class="col-md-4" >
                <div class="thumbnail">
                    <img height="200" width="200" src="https://spacemaster.fel.cvut.cz/sites/default/files/praha.jpg">
                </div>
            </div>
            <div class="col-md-4" >
                <div class="thumbnail">
                    <img height="200" width="200" src="https://www.codingbootcamp.cz/img/why1.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>